/* npm i -D sass@1.77.6 --save-exact s*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.font-13 {
  font-size: 13px;
}
.min-width-status {
  display: inline-block;
  min-width: 87px;
}
table {
  border-collapse: separate;
  border-spacing: 10px;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}
.overwrite {
  position: relative;
  left: -8%;
  cursor: pointer;
}

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$custom-colors: (
  "body-bg": #f5f5f5,
  "base": #000231,
  "primary": #4e7fff,
  "secondary": #9b9b9b,
  "success": #00b448,
  "gray": #b0b4cd,
  "danger": #ff4747,
  "warning": #ed9b22,
  "sucess-status-bg": #f2fff7,
  "danger-status-bg": #fff0f0,
  "warning-status-bg": #fff6e8,
);

$theme-colors: map-merge($theme-colors, $custom-colors);
$pagination-border-width: 0;
@import "bootstrap/scss/bootstrap";
